@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400&family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    height: 120px;
    width: 100%;
    background-color: #1e2d3b;
    /* position: sticky;
    /* top: 0;  */
}

.logo {
    width: 300px;
    height: 120px;
    cursor: pointer;
}

.links {
    float: right;
    list-style-type: none;
    display: inline-flex;
    justify-content: space-between;
    margin: 40px;
}

.navbar ul li a {
    text-decoration: none;
    font-family: 'Assistant', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    text-transform: normal;
    letter-spacing: normal;
    line-height: 2.5rem;
    color: #ffffff;
    margin: 0 10px;
}

.navbar ul li a:hover {
    color: #EDCD1F;
}

.hero {
    height: 90vh;
    background-image: url(assets/bg-img.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    height: 50%;
    width: 50%;
    text-align: center;
}

.hero h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 55px;
    color: white;

}

.about {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-info {
    height: auto;
    width: 25%;
    margin-top: 10px;
    margin-left: 100px;
}

.about-info h2 {
    font-family: 'Poppins', sans-serif;
    color: #1e2d3b;
    font-size: 60px;
}

.about-info p {
    font-size: 20px;
}

.spacer {
    margin: 40px 2px;
    margin-top: 0;
    height: 10px;
    width: 90px;
    background-color: #EDCD1F;
}

.about-us-img {
    height: 60vh;
}

.services {
    height: 75vh;
    margin: auto;
    margin-top: 10px;
}

.service-head h1 {
    font-size: 40px;
    text-align: center;
    color: #1e2d3b;
}

.spacer-services {
    /* margin: 40px 44rem;
    margin-top: 0; */
    margin: 0 auto;
    margin-bottom: 20px;
    height: 10px;
    width: 120px;
    background-color: #EDCD1F;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.card {
    width: 15rem;
    height: 25rem;
    background-color: rgba(197, 201, 206, 0.5);
    margin-left: 30px;
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card h3 {
    color: #1e2d3b;
    margin: 17px 20px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.card p {
    margin: -21px 20px;
    font-size: 16px;
    color: gray;
}

.projects-head h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    color: #1e2d3b;
}

.project-gallery img {
    height: auto;
    width: 35%;
    display: flex;
    justify-content: center;
}

.project-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 20px;
    margin: 2rem 22rem;
}

.project-gallery img {
    max-width: 100%;
    height: 25rem;
    width: 25rem;
}

.contact {
    height: 150vh;
}

.contact-head h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    color: #1e2d3b;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.contact-info {
    display: flex;
    margin-left: 18.3rem;
    margin-top: 30px;
}

.inquiries {
    width: 29rem;
    margin-right: 60px;
}

.inquiries p {
    color: gray;
}

.inquiries h4 {
    font-size: 22px;
    font-weight: 500;
}

.head-office {
    width: 20rem;
    margin-left: 40px;
}

.head-office p {
    color: gray;
}

.head-office h4 {
    font-size: 22px;
    font-weight: 500;
}

.contact-forms h4{
    margin-left: 284px;
    font-size: 22px;
    font-weight: 500;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 284px;
    margin-top: 10px;
    color: gray;
}

.form-group {
    margin-bottom: 5px;
}

label {
    font-weight: lighter;
    font-size: 15px;
}

input,
textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 2px;
}

button[type="submit"] {
    margin-left: 312px;
    width: 100px;
    padding: 7px;
    background-color: #000000;
    color: #EDCD1F;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover{
    background-color: #EDCD1F;
    color: #000000;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

.info-logo img{
    float: right;
    margin-top: -450px;
    margin-right: 350px;
    width: 20rem;
    cursor: pointer;
}

.footer h5{
    font-weight: 100;
    color: gray;
    text-align: center;
    margin: 0;
    /* padding: 0; */
    /* height: 0; */
    margin-top: 240px;
}
  